doctype html
html
	head
		title= 'Signed Blogs'
		link(rel='stylesheet', href='/css/style.css')
	body
		h1= 'Signed Blogs (powered by Keybase.io)'
		h2= 'Find a user...'
		form(method='post')
			input(name='user', type='text', placeholder='user')
			input(name='service', type='text', placeholder='service')
			input(type='submit')
