doctype html
html
	head
		title= user + "'s Signed Blog"
		link(rel='stylesheet', href='/css/style.css')
	body
		h1= user + "'s Signed Blog"
		div#articles
			each title in titles
				div.article
					a(href='/'+user+'/'+title)
						h2= title
